.text-font12px{
    font-size: 12px !important;
}
.text-font13px{
    font-size: 13px !important;
}
.text-font14px{
    font-size: 14px !important;
}
.text-font15px{
    font-size: 15px !important;
}
.text-font16px{
    font-size: 16px !important;
}
.text-font17px{
    font-size: 17px !important;
}
.text-font18px{
    font-size: 18px !important;
}
.text-font19px{
    font-size: 19px !important;
}
.text-font20px{
    font-size: 20px !important;
}
.text-font21px{
    font-size: 21px !important;
}
.text-font22px{
    font-size: 22px !important;
}
.text-font23px{
    font-size: 23px !important;
}
.text-font24px{
    font-size: 24px !important;
}
.text-font25px{
    font-size: 25px !important;
}
.text-font26px{
    font-size: 26px !important;
}
.text-font27px{
    font-size: 27px !important;
}
.text-font28px{
    font-size: 28px !important;
}
.text-font29px{
    font-size: 29px !important;
}
.text-font30px{
    font-size: 30px !important;
}
.text-font31px{
    font-size: 31px !important;
}
.text-font32px{
    font-size: 32px !important;
}
.text-font33px{
    font-size: 33px !important;
}
.text-font34px{
    font-size: 34px !important;
}
.text-font35px{
    font-size: 35px !important;
}
.text-font36px{
    font-size: 36px !important;
}
.text-font37px{
    font-size: 37px !important;
}
.text-font38px{
    font-size: 38px !important;
}
.text-font39px{
    font-size: 39px !important;
}
.text-font40px{
    font-size: 40px !important;
}
.text-font41px{
    font-size: 41px !important;
}
.text-font42px{
    font-size: 42px !important;
}
.text-font43px{
    font-size: 43px !important;
}
.text-font44px{
    font-size: 44px !important;
}
.text-font45px{
    font-size: 45px !important;
}
.text-font46px{
    font-size: 46px !important;
}
.text-font47px{
    font-size: 47px !important;
}
.text-font48px{
    font-size: 48px !important;
}
.text-font49px{
    font-size: 49px !important;
}
.text-font50px{
    font-size: 50px !important;
}
.text-font51px{
    font-size: 51px !important;
}
.text-font52px{
    font-size: 52px !important;
}
.text-font53px{
    font-size: 53px !important;
}
.text-font54px{
    font-size: 54px !important;
}
.text-font55px{
    font-size: 55px !important;
}
.text-font56px{
    font-size: 56px !important;
}
.text-font57px{
    font-size: 57px !important;
}
.text-font58px{
    font-size: 58px !important;
}
.text-font59px{
    font-size: 59px !important;
}
.text-font60px{
    font-size: 60px !important;
}
.text-font61px{
    font-size: 61px !important;
}
.text-font62px{
    font-size: 62px !important;
}
.text-font63px{
    font-size: 63px !important;
}
.text-font64px{
    font-size: 64px !important;
}
.text-font65px{
    font-size: 65px !important;
}
.text-font66px{
    font-size: 66px !important;
}
.text-font67px{
    font-size: 67px !important;
}
.text-font68px{
    font-size: 68px !important;
}
.text-font69px{
    font-size: 69px !important;
}
.text-font70px{
    font-size: 70px !important;
}
.text-font71px{
    font-size: 71px !important;
}
.text-font72px{
    font-size: 72px !important;
}
.text-font73px{
    font-size: 73px !important;
}
.text-font74px{
    font-size: 74px !important;
}
.text-font75px{
    font-size: 75px !important;
}
.text-font76px{
    font-size: 76px !important;
}
.text-font77px{
    font-size: 77px !important;
}
.text-font78px{
    font-size: 78px !important;
}
.text-font79px{
    font-size: 79px !important;
}
.text-font80px{
    font-size: 80px !important;
}
.text-font81px{
    font-size: 81px !important;
}
.text-font82px{
    font-size: 82px !important;
}
.text-font83px{
    font-size: 83px !important;
}
.text-font84px{
    font-size: 84px !important;
}
.text-font85px{
    font-size: 85px !important;
}
.text-font86px{
    font-size: 86px !important;
}
.text-font87px{
    font-size: 87px !important;
}
.text-font88px{
    font-size: 88px !important;
}
.text-font89px{
    font-size: 89px !important;
}
.text-font90px{
    font-size: 90px !important;
}
.text-font91px{
    font-size: 91px !important;
}
.text-font92px{
    font-size: 92px !important;
}
.text-font93px{
    font-size: 93px !important;
}
.text-font94px{
    font-size: 94px !important;
}
.text-font95px{
    font-size: 95px !important;
}
.text-font96px{
    font-size: 96px !important;
}
.text-font97px{
    font-size: 97px !important;
}
.text-font98px{
    font-size: 98px !important;
}
.text-font99px{
    font-size: 99px !important;
}
.text-font100px{
    font-size: 100px !important;
}

//xs
@media (min-width: 374px){
    .text-xs-font12px{
        font-size: 12px !important;
    }
    .text-xs-font13px{
        font-size: 13px !important;
    }
    .text-xs-font14px{
        font-size: 14px !important;
    }
    .text-xs-font15px{
        font-size: 15px !important;
    }
    .text-xs-font16px{
        font-size: 16px !important;
    }
    .text-xs-font17px{
        font-size: 17px !important;
    }
    .text-xs-font18px{
        font-size: 18px !important;
    }
    .text-xs-font19px{
        font-size: 19px !important;
    }
    .text-xs-font20px{
        font-size: 20px !important;
    }
    .text-xs-font21px{
        font-size: 21px !important;
    }
    .text-xs-font22px{
        font-size: 22px !important;
    }
    .text-xs-font23px{
        font-size: 23px !important;
    }
    .text-xs-font24px{
        font-size: 24px !important;
    }
    .text-xs-font25px{
        font-size: 25px !important;
    }
    .text-xs-font26px{
        font-size: 26px !important;
    }
    .text-xs-font27px{
        font-size: 27px !important;
    }
    .text-xs-font28px{
        font-size: 28px !important;
    }
    .text-xs-font29px{
        font-size: 29px !important;
    }
    .text-xs-font30px{
        font-size: 30px !important;
    }
    .text-xs-font31px{
        font-size: 31px !important;
    }
    .text-xs-font32px{
        font-size: 32px !important;
    }
    .text-xs-font33px{
        font-size: 33px !important;
    }
    .text-xs-font34px{
        font-size: 34px !important;
    }
    .text-xs-font35px{
        font-size: 35px !important;
    }
    .text-xs-font36px{
        font-size: 36px !important;
    }
    .text-xs-font37px{
        font-size: 37px !important;
    }
    .text-xs-font38px{
        font-size: 38px !important;
    }
    .text-xs-font39px{
        font-size: 39px !important;
    }
    .text-xs-font40px{
        font-size: 40px !important;
    }
    .text-xs-font41px{
        font-size: 41px !important;
    }
    .text-xs-font42px{
        font-size: 42px !important;
    }
    .text-xs-font43px{
        font-size: 43px !important;
    }
    .text-xs-font44px{
        font-size: 44px !important;
    }
    .text-xs-font45px{
        font-size: 45px !important;
    }
    .text-xs-font46px{
        font-size: 46px !important;
    }
    .text-xs-font47px{
        font-size: 47px !important;
    }
    .text-xs-font48px{
        font-size: 48px !important;
    }
    .text-xs-font49px{
        font-size: 49px !important;
    }
    .text-xs-font50px{
        font-size: 50px !important;
    }
    .text-xs-font51px{
        font-size: 51px !important;
    }
    .text-xs-font52px{
        font-size: 52px !important;
    }
    .text-xs-font53px{
        font-size: 53px !important;
    }
    .text-xs-font54px{
        font-size: 54px !important;
    }
    .text-xs-font55px{
        font-size: 55px !important;
    }
    .text-xs-font56px{
        font-size: 56px !important;
    }
    .text-xs-font57px{
        font-size: 57px !important;
    }
    .text-xs-font58px{
        font-size: 58px !important;
    }
    .text-xs-font59px{
        font-size: 59px !important;
    }
    .text-xs-font60px{
        font-size: 60px !important;
    }
    .text-xs-font61px{
        font-size: 61px !important;
    }
    .text-xs-font62px{
        font-size: 62px !important;
    }
    .text-xs-font63px{
        font-size: 63px !important;
    }
    .text-xs-font64px{
        font-size: 64px !important;
    }
    .text-xs-font65px{
        font-size: 65px !important;
    }
    .text-xs-font66px{
        font-size: 66px !important;
    }
    .text-xs-font67px{
        font-size: 67px !important;
    }
    .text-xs-font68px{
        font-size: 68px !important;
    }
    .text-xs-font69px{
        font-size: 69px !important;
    }
    .text-xs-font70px{
        font-size: 70px !important;
    }
    .text-xs-font71px{
        font-size: 71px !important;
    }
    .text-xs-font72px{
        font-size: 72px !important;
    }
    .text-xs-font73px{
        font-size: 73px !important;
    }
    .text-xs-font74px{
        font-size: 74px !important;
    }
    .text-xs-font75px{
        font-size: 75px !important;
    }
    .text-xs-font76px{
        font-size: 76px !important;
    }
    .text-xs-font77px{
        font-size: 77px !important;
    }
    .text-xs-font78px{
        font-size: 78px !important;
    }
    .text-xs-font79px{
        font-size: 79px !important;
    }
    .text-xs-font80px{
        font-size: 80px !important;
    }
    .text-xs-font81px{
        font-size: 81px !important;
    }
    .text-xs-font82px{
        font-size: 82px !important;
    }
    .text-xs-font83px{
        font-size: 83px !important;
    }
    .text-xs-font84px{
        font-size: 84px !important;
    }
    .text-xs-font85px{
        font-size: 85px !important;
    }
    .text-xs-font86px{
        font-size: 86px !important;
    }
    .text-xs-font87px{
        font-size: 87px !important;
    }
    .text-xs-font88px{
        font-size: 88px !important;
    }
    .text-xs-font89px{
        font-size: 89px !important;
    }
    .text-xs-font90px{
        font-size: 90px !important;
    }
    .text-xs-font91px{
        font-size: 91px !important;
    }
    .text-xs-font92px{
        font-size: 92px !important;
    }
    .text-xs-font93px{
        font-size: 93px !important;
    }
    .text-xs-font94px{
        font-size: 94px !important;
    }
    .text-xs-font95px{
        font-size: 95px !important;
    }
    .text-xs-font96px{
        font-size: 96px !important;
    }
    .text-xs-font97px{
        font-size: 97px !important;
    }
    .text-xs-font98px{
        font-size: 98px !important;
    }
    .text-xs-font99px{
        font-size: 99px !important;
    }
    .text-xs-font100px{
        font-size: 100px !important;
    }
}
//sm
@media (min-width: 576px){
    .text-sm-font12px{
        font-size: 12px !important;
    }
    .text-sm-font13px{
        font-size: 13px !important;
    }
    .text-sm-font14px{
        font-size: 14px !important;
    }
    .text-sm-font15px{
        font-size: 15px !important;
    }
    .text-sm-font16px{
        font-size: 16px !important;
    }
    .text-sm-font17px{
        font-size: 17px !important;
    }
    .text-sm-font18px{
        font-size: 18px !important;
    }
    .text-sm-font19px{
        font-size: 19px !important;
    }
    .text-sm-font20px{
        font-size: 20px !important;
    }
    .text-sm-font21px{
        font-size: 21px !important;
    }
    .text-sm-font22px{
        font-size: 22px !important;
    }
    .text-sm-font23px{
        font-size: 23px !important;
    }
    .text-sm-font24px{
        font-size: 24px !important;
    }
    .text-sm-font25px{
        font-size: 25px !important;
    }
    .text-sm-font26px{
        font-size: 26px !important;
    }
    .text-sm-font27px{
        font-size: 27px !important;
    }
    .text-sm-font28px{
        font-size: 28px !important;
    }
    .text-sm-font29px{
        font-size: 29px !important;
    }
    .text-sm-font30px{
        font-size: 30px !important;
    }
    .text-sm-font31px{
        font-size: 31px !important;
    }
    .text-sm-font32px{
        font-size: 32px !important;
    }
    .text-sm-font33px{
        font-size: 33px !important;
    }
    .text-sm-font34px{
        font-size: 34px !important;
    }
    .text-sm-font35px{
        font-size: 35px !important;
    }
    .text-sm-font36px{
        font-size: 36px !important;
    }
    .text-sm-font37px{
        font-size: 37px !important;
    }
    .text-sm-font38px{
        font-size: 38px !important;
    }
    .text-sm-font39px{
        font-size: 39px !important;
    }
    .text-sm-font40px{
        font-size: 40px !important;
    }
    .text-sm-font41px{
        font-size: 41px !important;
    }
    .text-sm-font42px{
        font-size: 42px !important;
    }
    .text-sm-font43px{
        font-size: 43px !important;
    }
    .text-sm-font44px{
        font-size: 44px !important;
    }
    .text-sm-font45px{
        font-size: 45px !important;
    }
    .text-sm-font46px{
        font-size: 46px !important;
    }
    .text-sm-font47px{
        font-size: 47px !important;
    }
    .text-sm-font48px{
        font-size: 48px !important;
    }
    .text-sm-font49px{
        font-size: 49px !important;
    }
    .text-sm-font50px{
        font-size: 50px !important;
    }
    .text-sm-font51px{
        font-size: 51px !important;
    }
    .text-sm-font52px{
        font-size: 52px !important;
    }
    .text-sm-font53px{
        font-size: 53px !important;
    }
    .text-sm-font54px{
        font-size: 54px !important;
    }
    .text-sm-font55px{
        font-size: 55px !important;
    }
    .text-sm-font56px{
        font-size: 56px !important;
    }
    .text-sm-font57px{
        font-size: 57px !important;
    }
    .text-sm-font58px{
        font-size: 58px !important;
    }
    .text-sm-font59px{
        font-size: 59px !important;
    }
    .text-sm-font60px{
        font-size: 60px !important;
    }
    .text-sm-font61px{
        font-size: 61px !important;
    }
    .text-sm-font62px{
        font-size: 62px !important;
    }
    .text-sm-font63px{
        font-size: 63px !important;
    }
    .text-sm-font64px{
        font-size: 64px !important;
    }
    .text-sm-font65px{
        font-size: 65px !important;
    }
    .text-sm-font66px{
        font-size: 66px !important;
    }
    .text-sm-font67px{
        font-size: 67px !important;
    }
    .text-sm-font68px{
        font-size: 68px !important;
    }
    .text-sm-font69px{
        font-size: 69px !important;
    }
    .text-sm-font70px{
        font-size: 70px !important;
    }
    .text-sm-font71px{
        font-size: 71px !important;
    }
    .text-sm-font72px{
        font-size: 72px !important;
    }
    .text-sm-font73px{
        font-size: 73px !important;
    }
    .text-sm-font74px{
        font-size: 74px !important;
    }
    .text-sm-font75px{
        font-size: 75px !important;
    }
    .text-sm-font76px{
        font-size: 76px !important;
    }
    .text-sm-font77px{
        font-size: 77px !important;
    }
    .text-sm-font78px{
        font-size: 78px !important;
    }
    .text-sm-font79px{
        font-size: 79px !important;
    }
    .text-sm-font80px{
        font-size: 80px !important;
    }
    .text-sm-font81px{
        font-size: 81px !important;
    }
    .text-sm-font82px{
        font-size: 82px !important;
    }
    .text-sm-font83px{
        font-size: 83px !important;
    }
    .text-sm-font84px{
        font-size: 84px !important;
    }
    .text-sm-font85px{
        font-size: 85px !important;
    }
    .text-sm-font86px{
        font-size: 86px !important;
    }
    .text-sm-font87px{
        font-size: 87px !important;
    }
    .text-sm-font88px{
        font-size: 88px !important;
    }
    .text-sm-font89px{
        font-size: 89px !important;
    }
    .text-sm-font90px{
        font-size: 90px !important;
    }
    .text-sm-font91px{
        font-size: 91px !important;
    }
    .text-sm-font92px{
        font-size: 92px !important;
    }
    .text-sm-font93px{
        font-size: 93px !important;
    }
    .text-sm-font94px{
        font-size: 94px !important;
    }
    .text-sm-font95px{
        font-size: 95px !important;
    }
    .text-sm-font96px{
        font-size: 96px !important;
    }
    .text-sm-font97px{
        font-size: 97px !important;
    }
    .text-sm-font98px{
        font-size: 98px !important;
    }
    .text-sm-font99px{
        font-size: 99px !important;
    }
    .text-sm-font100px{
        font-size: 100px !important;
    }
}
//md
@media (min-width: 768px){
    .text-md-font12px{
        font-size: 12px !important;
    }
    .text-md-font13px{
        font-size: 13px !important;
    }
    .text-md-font14px{
        font-size: 14px !important;
    }
    .text-md-font15px{
        font-size: 15px !important;
    }
    .text-md-font16px{
        font-size: 16px !important;
    }
    .text-md-font17px{
        font-size: 17px !important;
    }
    .text-md-font18px{
        font-size: 18px !important;
    }
    .text-md-font19px{
        font-size: 19px !important;
    }
    .text-md-font20px{
        font-size: 20px !important;
    }
    .text-md-font21px{
        font-size: 21px !important;
    }
    .text-md-font22px{
        font-size: 22px !important;
    }
    .text-md-font23px{
        font-size: 23px !important;
    }
    .text-md-font24px{
        font-size: 24px !important;
    }
    .text-md-font25px{
        font-size: 25px !important;
    }
    .text-md-font26px{
        font-size: 26px !important;
    }
    .text-md-font27px{
        font-size: 27px !important;
    }
    .text-md-font28px{
        font-size: 28px !important;
    }
    .text-md-font29px{
        font-size: 29px !important;
    }
    .text-md-font30px{
        font-size: 30px !important;
    }
    .text-md-font31px{
        font-size: 31px !important;
    }
    .text-md-font32px{
        font-size: 32px !important;
    }
    .text-md-font33px{
        font-size: 33px !important;
    }
    .text-md-font34px{
        font-size: 34px !important;
    }
    .text-md-font35px{
        font-size: 35px !important;
    }
    .text-md-font36px{
        font-size: 36px !important;
    }
    .text-md-font37px{
        font-size: 37px !important;
    }
    .text-md-font38px{
        font-size: 38px !important;
    }
    .text-md-font39px{
        font-size: 39px !important;
    }
    .text-md-font40px{
        font-size: 40px !important;
    }
    .text-md-font41px{
        font-size: 41px !important;
    }
    .text-md-font42px{
        font-size: 42px !important;
    }
    .text-md-font43px{
        font-size: 43px !important;
    }
    .text-md-font44px{
        font-size: 44px !important;
    }
    .text-md-font45px{
        font-size: 45px !important;
    }
    .text-md-font46px{
        font-size: 46px !important;
    }
    .text-md-font47px{
        font-size: 47px !important;
    }
    .text-md-font48px{
        font-size: 48px !important;
    }
    .text-md-font49px{
        font-size: 49px !important;
    }
    .text-md-font50px{
        font-size: 50px !important;
    }
    .text-md-font51px{
        font-size: 51px !important;
    }
    .text-md-font52px{
        font-size: 52px !important;
    }
    .text-md-font53px{
        font-size: 53px !important;
    }
    .text-md-font54px{
        font-size: 54px !important;
    }
    .text-md-font55px{
        font-size: 55px !important;
    }
    .text-md-font56px{
        font-size: 56px !important;
    }
    .text-md-font57px{
        font-size: 57px !important;
    }
    .text-md-font58px{
        font-size: 58px !important;
    }
    .text-md-font59px{
        font-size: 59px !important;
    }
    .text-md-font60px{
        font-size: 60px !important;
    }
    .text-md-font61px{
        font-size: 61px !important;
    }
    .text-md-font62px{
        font-size: 62px !important;
    }
    .text-md-font63px{
        font-size: 63px !important;
    }
    .text-md-font64px{
        font-size: 64px !important;
    }
    .text-md-font65px{
        font-size: 65px !important;
    }
    .text-md-font66px{
        font-size: 66px !important;
    }
    .text-md-font67px{
        font-size: 67px !important;
    }
    .text-md-font68px{
        font-size: 68px !important;
    }
    .text-md-font69px{
        font-size: 69px !important;
    }
    .text-md-font70px{
        font-size: 70px !important;
    }
    .text-md-font71px{
        font-size: 71px !important;
    }
    .text-md-font72px{
        font-size: 72px !important;
    }
    .text-md-font73px{
        font-size: 73px !important;
    }
    .text-md-font74px{
        font-size: 74px !important;
    }
    .text-md-font75px{
        font-size: 75px !important;
    }
    .text-md-font76px{
        font-size: 76px !important;
    }
    .text-md-font77px{
        font-size: 77px !important;
    }
    .text-md-font78px{
        font-size: 78px !important;
    }
    .text-md-font79px{
        font-size: 79px !important;
    }
    .text-md-font80px{
        font-size: 80px !important;
    }
    .text-md-font81px{
        font-size: 81px !important;
    }
    .text-md-font82px{
        font-size: 82px !important;
    }
    .text-md-font83px{
        font-size: 83px !important;
    }
    .text-md-font84px{
        font-size: 84px !important;
    }
    .text-md-font85px{
        font-size: 85px !important;
    }
    .text-md-font86px{
        font-size: 86px !important;
    }
    .text-md-font87px{
        font-size: 87px !important;
    }
    .text-md-font88px{
        font-size: 88px !important;
    }
    .text-md-font89px{
        font-size: 89px !important;
    }
    .text-md-font90px{
        font-size: 90px !important;
    }
    .text-md-font91px{
        font-size: 91px !important;
    }
    .text-md-font92px{
        font-size: 92px !important;
    }
    .text-md-font93px{
        font-size: 93px !important;
    }
    .text-md-font94px{
        font-size: 94px !important;
    }
    .text-md-font95px{
        font-size: 95px !important;
    }
    .text-md-font96px{
        font-size: 96px !important;
    }
    .text-md-font97px{
        font-size: 97px !important;
    }
    .text-md-font98px{
        font-size: 98px !important;
    }
    .text-md-font99px{
        font-size: 99px !important;
    }
    .text-md-font100px{
        font-size: 100px !important;
    }
}
//lg
@media (min-width: 992px){
    .text-lg-font12px{
        font-size: 12px !important;
    }
    .text-lg-font13px{
        font-size: 13px !important;
    }
    .text-lg-font14px{
        font-size: 14px !important;
    }
    .text-lg-font15px{
        font-size: 15px !important;
    }
    .text-lg-font16px{
        font-size: 16px !important;
    }
    .text-lg-font17px{
        font-size: 17px !important;
    }
    .text-lg-font18px{
        font-size: 18px !important;
    }
    .text-lg-font19px{
        font-size: 19px !important;
    }
    .text-lg-font20px{
        font-size: 20px !important;
    }
    .text-lg-font21px{
        font-size: 21px !important;
    }
    .text-lg-font22px{
        font-size: 22px !important;
    }
    .text-lg-font23px{
        font-size: 23px !important;
    }
    .text-lg-font24px{
        font-size: 24px !important;
    }
    .text-lg-font25px{
        font-size: 25px !important;
    }
    .text-lg-font26px{
        font-size: 26px !important;
    }
    .text-lg-font27px{
        font-size: 27px !important;
    }
    .text-lg-font28px{
        font-size: 28px !important;
    }
    .text-lg-font29px{
        font-size: 29px !important;
    }
    .text-lg-font30px{
        font-size: 30px !important;
    }
    .text-lg-font31px{
        font-size: 31px !important;
    }
    .text-lg-font32px{
        font-size: 32px !important;
    }
    .text-lg-font33px{
        font-size: 33px !important;
    }
    .text-lg-font34px{
        font-size: 34px !important;
    }
    .text-lg-font35px{
        font-size: 35px !important;
    }
    .text-lg-font36px{
        font-size: 36px !important;
    }
    .text-lg-font37px{
        font-size: 37px !important;
    }
    .text-lg-font38px{
        font-size: 38px !important;
    }
    .text-lg-font39px{
        font-size: 39px !important;
    }
    .text-lg-font40px{
        font-size: 40px !important;
    }
    .text-lg-font41px{
        font-size: 41px !important;
    }
    .text-lg-font42px{
        font-size: 42px !important;
    }
    .text-lg-font43px{
        font-size: 43px !important;
    }
    .text-lg-font44px{
        font-size: 44px !important;
    }
    .text-lg-font45px{
        font-size: 45px !important;
    }
    .text-lg-font46px{
        font-size: 46px !important;
    }
    .text-lg-font47px{
        font-size: 47px !important;
    }
    .text-lg-font48px{
        font-size: 48px !important;
    }
    .text-lg-font49px{
        font-size: 49px !important;
    }
    .text-lg-font50px{
        font-size: 50px !important;
    }
    .text-lg-font51px{
        font-size: 51px !important;
    }
    .text-lg-font52px{
        font-size: 52px !important;
    }
    .text-lg-font53px{
        font-size: 53px !important;
    }
    .text-lg-font54px{
        font-size: 54px !important;
    }
    .text-lg-font55px{
        font-size: 55px !important;
    }
    .text-lg-font56px{
        font-size: 56px !important;
    }
    .text-lg-font57px{
        font-size: 57px !important;
    }
    .text-lg-font58px{
        font-size: 58px !important;
    }
    .text-lg-font59px{
        font-size: 59px !important;
    }
    .text-lg-font60px{
        font-size: 60px !important;
    }
    .text-lg-font61px{
        font-size: 61px !important;
    }
    .text-lg-font62px{
        font-size: 62px !important;
    }
    .text-lg-font63px{
        font-size: 63px !important;
    }
    .text-lg-font64px{
        font-size: 64px !important;
    }
    .text-lg-font65px{
        font-size: 65px !important;
    }
    .text-lg-font66px{
        font-size: 66px !important;
    }
    .text-lg-font67px{
        font-size: 67px !important;
    }
    .text-lg-font68px{
        font-size: 68px !important;
    }
    .text-lg-font69px{
        font-size: 69px !important;
    }
    .text-lg-font70px{
        font-size: 70px !important;
    }
    .text-lg-font71px{
        font-size: 71px !important;
    }
    .text-lg-font72px{
        font-size: 72px !important;
    }
    .text-lg-font73px{
        font-size: 73px !important;
    }
    .text-lg-font74px{
        font-size: 74px !important;
    }
    .text-lg-font75px{
        font-size: 75px !important;
    }
    .text-lg-font76px{
        font-size: 76px !important;
    }
    .text-lg-font77px{
        font-size: 77px !important;
    }
    .text-lg-font78px{
        font-size: 78px !important;
    }
    .text-lg-font79px{
        font-size: 79px !important;
    }
    .text-lg-font80px{
        font-size: 80px !important;
    }
    .text-lg-font81px{
        font-size: 81px !important;
    }
    .text-lg-font82px{
        font-size: 82px !important;
    }
    .text-lg-font83px{
        font-size: 83px !important;
    }
    .text-lg-font84px{
        font-size: 84px !important;
    }
    .text-lg-font85px{
        font-size: 85px !important;
    }
    .text-lg-font86px{
        font-size: 86px !important;
    }
    .text-lg-font87px{
        font-size: 87px !important;
    }
    .text-lg-font88px{
        font-size: 88px !important;
    }
    .text-lg-font89px{
        font-size: 89px !important;
    }
    .text-lg-font90px{
        font-size: 90px !important;
    }
    .text-lg-font91px{
        font-size: 91px !important;
    }
    .text-lg-font92px{
        font-size: 92px !important;
    }
    .text-lg-font93px{
        font-size: 93px !important;
    }
    .text-lg-font94px{
        font-size: 94px !important;
    }
    .text-lg-font95px{
        font-size: 95px !important;
    }
    .text-lg-font96px{
        font-size: 96px !important;
    }
    .text-lg-font97px{
        font-size: 97px !important;
    }
    .text-lg-font98px{
        font-size: 98px !important;
    }
    .text-lg-font99px{
        font-size: 99px !important;
    }
    .text-lg-font100px{
        font-size: 100px !important;
    }
}
//xl
@media (min-width: 1200px){
    .text-xl-font12px{
        font-size: 12px !important;
    }
    .text-xl-font13px{
        font-size: 13px !important;
    }
    .text-xl-font14px{
        font-size: 14px !important;
    }
    .text-xl-font15px{
        font-size: 15px !important;
    }
    .text-xl-font16px{
        font-size: 16px !important;
    }
    .text-xl-font17px{
        font-size: 17px !important;
    }
    .text-xl-font18px{
        font-size: 18px !important;
    }
    .text-xl-font19px{
        font-size: 19px !important;
    }
    .text-xl-font20px{
        font-size: 20px !important;
    }
    .text-xl-font21px{
        font-size: 21px !important;
    }
    .text-xl-font22px{
        font-size: 22px !important;
    }
    .text-xl-font23px{
        font-size: 23px !important;
    }
    .text-xl-font24px{
        font-size: 24px !important;
    }
    .text-xl-font25px{
        font-size: 25px !important;
    }
    .text-xl-font26px{
        font-size: 26px !important;
    }
    .text-xl-font27px{
        font-size: 27px !important;
    }
    .text-xl-font28px{
        font-size: 28px !important;
    }
    .text-xl-font29px{
        font-size: 29px !important;
    }
    .text-xl-font30px{
        font-size: 30px !important;
    }
    .text-xl-font31px{
        font-size: 31px !important;
    }
    .text-xl-font32px{
        font-size: 32px !important;
    }
    .text-xl-font33px{
        font-size: 33px !important;
    }
    .text-xl-font34px{
        font-size: 34px !important;
    }
    .text-xl-font35px{
        font-size: 35px !important;
    }
    .text-xl-font36px{
        font-size: 36px !important;
    }
    .text-xl-font37px{
        font-size: 37px !important;
    }
    .text-xl-font38px{
        font-size: 38px !important;
    }
    .text-xl-font39px{
        font-size: 39px !important;
    }
    .text-xl-font40px{
        font-size: 40px !important;
    }
    .text-xl-font41px{
        font-size: 41px !important;
    }
    .text-xl-font42px{
        font-size: 42px !important;
    }
    .text-xl-font43px{
        font-size: 43px !important;
    }
    .text-xl-font44px{
        font-size: 44px !important;
    }
    .text-xl-font45px{
        font-size: 45px !important;
    }
    .text-xl-font46px{
        font-size: 46px !important;
    }
    .text-xl-font47px{
        font-size: 47px !important;
    }
    .text-xl-font48px{
        font-size: 48px !important;
    }
    .text-xl-font49px{
        font-size: 49px !important;
    }
    .text-xl-font50px{
        font-size: 50px !important;
    }
    .text-xl-font51px{
        font-size: 51px !important;
    }
    .text-xl-font52px{
        font-size: 52px !important;
    }
    .text-xl-font53px{
        font-size: 53px !important;
    }
    .text-xl-font54px{
        font-size: 54px !important;
    }
    .text-xl-font55px{
        font-size: 55px !important;
    }
    .text-xl-font56px{
        font-size: 56px !important;
    }
    .text-xl-font57px{
        font-size: 57px !important;
    }
    .text-xl-font58px{
        font-size: 58px !important;
    }
    .text-xl-font59px{
        font-size: 59px !important;
    }
    .text-xl-font60px{
        font-size: 60px !important;
    }
    .text-xl-font61px{
        font-size: 61px !important;
    }
    .text-xl-font62px{
        font-size: 62px !important;
    }
    .text-xl-font63px{
        font-size: 63px !important;
    }
    .text-xl-font64px{
        font-size: 64px !important;
    }
    .text-xl-font65px{
        font-size: 65px !important;
    }
    .text-xl-font66px{
        font-size: 66px !important;
    }
    .text-xl-font67px{
        font-size: 67px !important;
    }
    .text-xl-font68px{
        font-size: 68px !important;
    }
    .text-xl-font69px{
        font-size: 69px !important;
    }
    .text-xl-font70px{
        font-size: 70px !important;
    }
    .text-xl-font71px{
        font-size: 71px !important;
    }
    .text-xl-font72px{
        font-size: 72px !important;
    }
    .text-xl-font73px{
        font-size: 73px !important;
    }
    .text-xl-font74px{
        font-size: 74px !important;
    }
    .text-xl-font75px{
        font-size: 75px !important;
    }
    .text-xl-font76px{
        font-size: 76px !important;
    }
    .text-xl-font77px{
        font-size: 77px !important;
    }
    .text-xl-font78px{
        font-size: 78px !important;
    }
    .text-xl-font79px{
        font-size: 79px !important;
    }
    .text-xl-font80px{
        font-size: 80px !important;
    }
    .text-xl-font81px{
        font-size: 81px !important;
    }
    .text-xl-font82px{
        font-size: 82px !important;
    }
    .text-xl-font83px{
        font-size: 83px !important;
    }
    .text-xl-font84px{
        font-size: 84px !important;
    }
    .text-xl-font85px{
        font-size: 85px !important;
    }
    .text-xl-font86px{
        font-size: 86px !important;
    }
    .text-xl-font87px{
        font-size: 87px !important;
    }
    .text-xl-font88px{
        font-size: 88px !important;
    }
    .text-xl-font89px{
        font-size: 89px !important;
    }
    .text-xl-font90px{
        font-size: 90px !important;
    }
    .text-xl-font91px{
        font-size: 91px !important;
    }
    .text-xl-font92px{
        font-size: 92px !important;
    }
    .text-xl-font93px{
        font-size: 93px !important;
    }
    .text-xl-font94px{
        font-size: 94px !important;
    }
    .text-xl-font95px{
        font-size: 95px !important;
    }
    .text-xl-font96px{
        font-size: 96px !important;
    }
    .text-xl-font97px{
        font-size: 97px !important;
    }
    .text-xl-font98px{
        font-size: 98px !important;
    }
    .text-xl-font99px{
        font-size: 99px !important;
    }
    .text-xl-font100px{
        font-size: 100px !important;
    }
}
//xxl
@media (min-width: 1400px){
    .text-xxl-font12px{
        font-size: 12px !important;
    }
    .text-xxl-font13px{
        font-size: 13px !important;
    }
    .text-xxl-font14px{
        font-size: 14px !important;
    }
    .text-xxl-font15px{
        font-size: 15px !important;
    }
    .text-xxl-font16px{
        font-size: 16px !important;
    }
    .text-xxl-font17px{
        font-size: 17px !important;
    }
    .text-xxl-font18px{
        font-size: 18px !important;
    }
    .text-xxl-font19px{
        font-size: 19px !important;
    }
    .text-xxl-font20px{
        font-size: 20px !important;
    }
    .text-xxl-font21px{
        font-size: 21px !important;
    }
    .text-xxl-font22px{
        font-size: 22px !important;
    }
    .text-xxl-font23px{
        font-size: 23px !important;
    }
    .text-xxl-font24px{
        font-size: 24px !important;
    }
    .text-xxl-font25px{
        font-size: 25px !important;
    }
    .text-xxl-font26px{
        font-size: 26px !important;
    }
    .text-xxl-font27px{
        font-size: 27px !important;
    }
    .text-xxl-font28px{
        font-size: 28px !important;
    }
    .text-xxl-font29px{
        font-size: 29px !important;
    }
    .text-xxl-font30px{
        font-size: 30px !important;
    }
    .text-xxl-font31px{
        font-size: 31px !important;
    }
    .text-xxl-font32px{
        font-size: 32px !important;
    }
    .text-xxl-font33px{
        font-size: 33px !important;
    }
    .text-xxl-font34px{
        font-size: 34px !important;
    }
    .text-xxl-font35px{
        font-size: 35px !important;
    }
    .text-xxl-font36px{
        font-size: 36px !important;
    }
    .text-xxl-font37px{
        font-size: 37px !important;
    }
    .text-xxl-font38px{
        font-size: 38px !important;
    }
    .text-xxl-font39px{
        font-size: 39px !important;
    }
    .text-xxl-font40px{
        font-size: 40px !important;
    }
    .text-xxl-font41px{
        font-size: 41px !important;
    }
    .text-xxl-font42px{
        font-size: 42px !important;
    }
    .text-xxl-font43px{
        font-size: 43px !important;
    }
    .text-xxl-font44px{
        font-size: 44px !important;
    }
    .text-xxl-font45px{
        font-size: 45px !important;
    }
    .text-xxl-font46px{
        font-size: 46px !important;
    }
    .text-xxl-font47px{
        font-size: 47px !important;
    }
    .text-xxl-font48px{
        font-size: 48px !important;
    }
    .text-xxl-font49px{
        font-size: 49px !important;
    }
    .text-xxl-font50px{
        font-size: 50px !important;
    }
    .text-xxl-font51px{
        font-size: 51px !important;
    }
    .text-xxl-font52px{
        font-size: 52px !important;
    }
    .text-xxl-font53px{
        font-size: 53px !important;
    }
    .text-xxl-font54px{
        font-size: 54px !important;
    }
    .text-xxl-font55px{
        font-size: 55px !important;
    }
    .text-xxl-font56px{
        font-size: 56px !important;
    }
    .text-xxl-font57px{
        font-size: 57px !important;
    }
    .text-xxl-font58px{
        font-size: 58px !important;
    }
    .text-xxl-font59px{
        font-size: 59px !important;
    }
    .text-xxl-font60px{
        font-size: 60px !important;
    }
    .text-xxl-font61px{
        font-size: 61px !important;
    }
    .text-xxl-font62px{
        font-size: 62px !important;
    }
    .text-xxl-font63px{
        font-size: 63px !important;
    }
    .text-xxl-font64px{
        font-size: 64px !important;
    }
    .text-xxl-font65px{
        font-size: 65px !important;
    }
    .text-xxl-font66px{
        font-size: 66px !important;
    }
    .text-xxl-font67px{
        font-size: 67px !important;
    }
    .text-xxl-font68px{
        font-size: 68px !important;
    }
    .text-xxl-font69px{
        font-size: 69px !important;
    }
    .text-xxl-font70px{
        font-size: 70px !important;
    }
    .text-xxl-font71px{
        font-size: 71px !important;
    }
    .text-xxl-font72px{
        font-size: 72px !important;
    }
    .text-xxl-font73px{
        font-size: 73px !important;
    }
    .text-xxl-font74px{
        font-size: 74px !important;
    }
    .text-xxl-font75px{
        font-size: 75px !important;
    }
    .text-xxl-font76px{
        font-size: 76px !important;
    }
    .text-xxl-font77px{
        font-size: 77px !important;
    }
    .text-xxl-font78px{
        font-size: 78px !important;
    }
    .text-xxl-font79px{
        font-size: 79px !important;
    }
    .text-xxl-font80px{
        font-size: 80px !important;
    }
    .text-xxl-font81px{
        font-size: 81px !important;
    }
    .text-xxl-font82px{
        font-size: 82px !important;
    }
    .text-xxl-font83px{
        font-size: 83px !important;
    }
    .text-xxl-font84px{
        font-size: 84px !important;
    }
    .text-xxl-font85px{
        font-size: 85px !important;
    }
    .text-xxl-font86px{
        font-size: 86px !important;
    }
    .text-xxl-font87px{
        font-size: 87px !important;
    }
    .text-xxl-font88px{
        font-size: 88px !important;
    }
    .text-xxl-font89px{
        font-size: 89px !important;
    }
    .text-xxl-font90px{
        font-size: 90px !important;
    }
    .text-xxl-font91px{
        font-size: 91px !important;
    }
    .text-xxl-font92px{
        font-size: 92px !important;
    }
    .text-xxl-font93px{
        font-size: 93px !important;
    }
    .text-xxl-font94px{
        font-size: 94px !important;
    }
    .text-xxl-font95px{
        font-size: 95px !important;
    }
    .text-xxl-font96px{
        font-size: 96px !important;
    }
    .text-xxl-font97px{
        font-size: 97px !important;
    }
    .text-xxl-font98px{
        font-size: 98px !important;
    }
    .text-xxl-font99px{
        font-size: 99px !important;
    }
    .text-xxl-font100px{
        font-size: 100px !important;
    }
}
//xxxl
@media (min-width: 1650px){
    .text-xxxl-font12px{
        font-size: 12px !important;
    }
    .text-xxxl-font13px{
        font-size: 13px !important;
    }
    .text-xxxl-font14px{
        font-size: 14px !important;
    }
    .text-xxxl-font15px{
        font-size: 15px !important;
    }
    .text-xxxl-font16px{
        font-size: 16px !important;
    }
    .text-xxxl-font17px{
        font-size: 17px !important;
    }
    .text-xxxl-font18px{
        font-size: 18px !important;
    }
    .text-xxxl-font19px{
        font-size: 19px !important;
    }
    .text-xxxl-font20px{
        font-size: 20px !important;
    }
    .text-xxxl-font21px{
        font-size: 21px !important;
    }
    .text-xxxl-font22px{
        font-size: 22px !important;
    }
    .text-xxxl-font23px{
        font-size: 23px !important;
    }
    .text-xxxl-font24px{
        font-size: 24px !important;
    }
    .text-xxxl-font25px{
        font-size: 25px !important;
    }
    .text-xxxl-font26px{
        font-size: 26px !important;
    }
    .text-xxxl-font27px{
        font-size: 27px !important;
    }
    .text-xxxl-font28px{
        font-size: 28px !important;
    }
    .text-xxxl-font29px{
        font-size: 29px !important;
    }
    .text-xxxl-font30px{
        font-size: 30px !important;
    }
    .text-xxxl-font31px{
        font-size: 31px !important;
    }
    .text-xxxl-font32px{
        font-size: 32px !important;
    }
    .text-xxxl-font33px{
        font-size: 33px !important;
    }
    .text-xxxl-font34px{
        font-size: 34px !important;
    }
    .text-xxxl-font35px{
        font-size: 35px !important;
    }
    .text-xxxl-font36px{
        font-size: 36px !important;
    }
    .text-xxxl-font37px{
        font-size: 37px !important;
    }
    .text-xxxl-font38px{
        font-size: 38px !important;
    }
    .text-xxxl-font39px{
        font-size: 39px !important;
    }
    .text-xxxl-font40px{
        font-size: 40px !important;
    }
    .text-xxxl-font41px{
        font-size: 41px !important;
    }
    .text-xxxl-font42px{
        font-size: 42px !important;
    }
    .text-xxxl-font43px{
        font-size: 43px !important;
    }
    .text-xxxl-font44px{
        font-size: 44px !important;
    }
    .text-xxxl-font45px{
        font-size: 45px !important;
    }
    .text-xxxl-font46px{
        font-size: 46px !important;
    }
    .text-xxxl-font47px{
        font-size: 47px !important;
    }
    .text-xxxl-font48px{
        font-size: 48px !important;
    }
    .text-xxxl-font49px{
        font-size: 49px !important;
    }
    .text-xxxl-font50px{
        font-size: 50px !important;
    }
    .text-xxxl-font51px{
        font-size: 51px !important;
    }
    .text-xxxl-font52px{
        font-size: 52px !important;
    }
    .text-xxxl-font53px{
        font-size: 53px !important;
    }
    .text-xxxl-font54px{
        font-size: 54px !important;
    }
    .text-xxxl-font55px{
        font-size: 55px !important;
    }
    .text-xxxl-font56px{
        font-size: 56px !important;
    }
    .text-xxxl-font57px{
        font-size: 57px !important;
    }
    .text-xxxl-font58px{
        font-size: 58px !important;
    }
    .text-xxxl-font59px{
        font-size: 59px !important;
    }
    .text-xxxl-font60px{
        font-size: 60px !important;
    }
    .text-xxxl-font61px{
        font-size: 61px !important;
    }
    .text-xxxl-font62px{
        font-size: 62px !important;
    }
    .text-xxxl-font63px{
        font-size: 63px !important;
    }
    .text-xxxl-font64px{
        font-size: 64px !important;
    }
    .text-xxxl-font65px{
        font-size: 65px !important;
    }
    .text-xxxl-font66px{
        font-size: 66px !important;
    }
    .text-xxxl-font67px{
        font-size: 67px !important;
    }
    .text-xxxl-font68px{
        font-size: 68px !important;
    }
    .text-xxxl-font69px{
        font-size: 69px !important;
    }
    .text-xxxl-font70px{
        font-size: 70px !important;
    }
    .text-xxxl-font71px{
        font-size: 71px !important;
    }
    .text-xxxl-font72px{
        font-size: 72px !important;
    }
    .text-xxxl-font73px{
        font-size: 73px !important;
    }
    .text-xxxl-font74px{
        font-size: 74px !important;
    }
    .text-xxxl-font75px{
        font-size: 75px !important;
    }
    .text-xxxl-font76px{
        font-size: 76px !important;
    }
    .text-xxxl-font77px{
        font-size: 77px !important;
    }
    .text-xxxl-font78px{
        font-size: 78px !important;
    }
    .text-xxxl-font79px{
        font-size: 79px !important;
    }
    .text-xxxl-font80px{
        font-size: 80px !important;
    }
    .text-xxxl-font81px{
        font-size: 81px !important;
    }
    .text-xxxl-font82px{
        font-size: 82px !important;
    }
    .text-xxxl-font83px{
        font-size: 83px !important;
    }
    .text-xxxl-font84px{
        font-size: 84px !important;
    }
    .text-xxxl-font85px{
        font-size: 85px !important;
    }
    .text-xxxl-font86px{
        font-size: 86px !important;
    }
    .text-xxxl-font87px{
        font-size: 87px !important;
    }
    .text-xxxl-font88px{
        font-size: 88px !important;
    }
    .text-xxxl-font89px{
        font-size: 89px !important;
    }
    .text-xxxl-font90px{
        font-size: 90px !important;
    }
    .text-xxxl-font91px{
        font-size: 91px !important;
    }
    .text-xxxl-font92px{
        font-size: 92px !important;
    }
    .text-xxxl-font93px{
        font-size: 93px !important;
    }
    .text-xxxl-font94px{
        font-size: 94px !important;
    }
    .text-xxxl-font95px{
        font-size: 95px !important;
    }
    .text-xxxl-font96px{
        font-size: 96px !important;
    }
    .text-xxxl-font97px{
        font-size: 97px !important;
    }
    .text-xxxl-font98px{
        font-size: 98px !important;
    }
    .text-xxxl-font99px{
        font-size: 99px !important;
    }
    .text-xxxl-font100px{
        font-size: 100px !important;
    }
}